<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SRV{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<header>
    <strong>SRV · Health</strong>

    {% if user %}
        <span class="user-info">
            Usuario: {{ user }} ({{ role }})
            |
            <a href="/health/logout">Logout</a>
        </span>
    {% endif %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

<script src="/static/js/main.js"></script>
</body>
</html>
